body{
    background-color: #faf8f5;
}

hr{
    color:  #218c74;
    background-color:  #218c74;

}
.container{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

li{
    list-style-type: none;
    padding-top: 10px;

}

/* Header style */
.header{
    height: 180px;
    width: 100%;
    color: white;
    display: inline-block;
    position: fixed;
    align-content: center;
    text-align: center;
    background-color: #faf8f5;

    background: linear-gradient( #faf8f5 38%,rgba(255, 255, 255, 0));
    z-index: 4;

    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

}

.header a{
margin-right: 8%;
text-decoration: none;
color: #2f3640;
font-size: 20px;
}

.header a:hover{
    transition-duration: .5s;
    opacity: .6;
    text-decoration: none;
    color: #218c74;
}


.header a img{
    float: left;
    padding-left: 60px;
    padding-top: 10px;
    height: 130px;
    /* margin-top: 10px; */
}


/* ABOUT THE FARM STYLE */
#mainpic{
    align-items: center;
    align-content: center;
    width: 100%;

}
#farm-pics{
    margin-top: 5px;
    height: 550px;
    background-color: coral;
    object-fit: cover;
    width: 100%;
    margin-right: 0px;
    padding: 0px;
}

.about-us{
    padding-top: 25px;
    align-content: center;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


/* ABOUT THE OWNERS STYLE */

.pic-1{
    margin: 0px;
    padding: 0px;
    background-color: cyan;
}

/* ORGANIC/BIODYNAMIC STYLE */
#what-is{
    padding-top: 25px;
    align-content: center;
    text-align: center;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.bio{
    padding-right: 90px;
    padding-left: 90px;
}

.colPics{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 0% 30%;
    margin: 0;
    padding: 0;
}

.owners{
    width: 100%;
    height: 500px;
    object-fit: cover;    
}
#worker{
    width: 105%;
    height: 250px;
    object-fit: cover;
    object-position: 0% 17%;
}

#worker-2{
    width: 105%;
    height: 250px;
    object-fit: cover;
    object-position: 0% 40%;
}


/* PRODUCT IMAGES */
.product-image{
    border-radius: 2px;
    height: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;

}
.odd{
    border-radius: 1px;
    margin: 0px;
    padding: 0px;
    background-color: plum;
    height: 250px;
}

.even{
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(94, 119, 122);
    height: 250px;
}


/* RANGER DESCRIPTION STYLE  */
.sky{
    object-fit: cover;
    object-position: 0% 45%;
    height: 250px;
    width: 105%;
}

/* FILM LOCATION STYLE */
.filmpics{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    width: 50%;
}


/* FOOTER */

.footer{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-right: 60px;
    height: 500px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

i{
    color: #218c74;
    padding-top: 14px;
    margin: 15px;
}

#email{
    width: 350px;
    margin-left: 19px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.771);
    border-radius: 5px;
    border: 1px solid #218c74;
}

#subject{
    width: 350px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #218c74;

}
iframe{
    padding-left: 85px;
    padding-top: 45px;
    width: 80%;
    border: 2px solid #218c74;

}
#message{
    width: 350px;
    margin-top: 10px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.771);
    border-radius: 5px;
    border: 1px solid #218c74;

}

#submit{
    margin-top: 10px;
    width: 120px;
    border-radius: 5px;
    margin-left: 60px;
    border: 2px solid #218c74;

}

#submit:active{
    background-color: #218c74;
}




/* RECIPE STUFF */
#recipePic{
    display: none;
    width: 20%;
    object-fit: cover;
    margin-left: 40%;
}

#recipe{
    align-items: center;
    text-align: center;
    align-content: center;
}

#link{
    display: none;
}

#drop{
 background-color: #218c74;
}


/* OVERLAY STUFF (product page) */
.overlay{
  width: 34%;
  color: white;
  text-align: center;
  align-content: center;
  position: absolute;
  padding-top: 70px;
  background-color: rgba(44, 44, 44, 0.4);
  display: inline; 
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay:hover{
    transition-duration: 1s;
    opacity: .2;
    z-index: 0;
}


.odd i{
    color:#faf8f5;
}

.even i{
    color: #faf8f5;
}